.config/nvim/plugin/packer_compiled.lua
.config/k9s/config.yml
.config/lazygit/state.yml
.config/brew/Brewfile.lock.json
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.vagrant
.config/karabiner/automatic_backups
