# Neovim
.config/nvim/.luarc.json
.config/nvim/lazy-lock.json

# K9s
.config/k9s/clusters/
.config/k9s/benchmarks
.config/k9s/screen-dumps

# Lazygit
.config/lazygit/state.yml

# Homebrew
.config/brew/Brewfile.lock.json

# zsh
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions
.config/zsh/.zcompcache

# Karabiner Elements
.config/karabiner/automatic_backups

# tmux
.config/tmux/plugins/

# Codex
!.config/codex/AGENTS.md
.config/codex/

# Glide
.config/glide/glide.d.ts
.config/glide/tsconfig.json
.config/glide/package.json
