"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory$git_branch$git_status$git_state $fill $python$kubernetes$aws$terraform$nodejs$cmd_duration$jobs$direnv
$character
"""

docker_context = { disabled = true }
gcloud = { disabled = true }
golang = { disabled = true }
helm = { disabled = true }
hostname = { disabled = true }
nodejs = { disabled = true }
package = { disabled = true }
ruby = { disabled = true }
username = { disabled = true }

[fill]
disabled = false
symbol = '-'
style = '240'

[direnv]
disabled = false
format = " [$symbol$loaded]($style) "
loaded_msg = "loaded"

[jobs]
disabled = false
number_threshold = 1
symbol = '&'
style = 'yellow'
format = ' [$symbol$number]($style) '

[line_break]
disabled = false

[python]
disabled = false
python_binary = 'python3'
pyenv_version_name = true
symbol = ''
format = '[(${version} )(\($virtualenv\) )]($style)'

[kubernetes]
disabled = false
format = ' [☸ $context:$namespace](purple)'

[terraform]
disabled = false
format = '[tf:$workspace]($style) '

[aws]
disabled = false
format = ' [aws:$symbol($profile )(\($region\) )]($style)'
symbol = ''

[character]
success_symbol = '[\$](white)'
error_symbol = '[\$](red)'

[directory]
truncation_length = 8
truncate_to_repo = false
style = "white"

[git_status]
format =   "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](red)($ahead_behind$stashed)](white)"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
style = "cyan"
stashed = "≡"

[git_branch]
symbol = " "
format = "on [$symbol$branch]($style) "
style = "white"

[git_state]
format = '\([$state($progress_current/$progress_total)]($style)\)'
style = "red"
